/* Fonts */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Variables */

$roboto: 'Roboto', sans-serif;
$shrikhand: 'Shrikhand', cursive;

$lightGray: #EAEAEA;


/* Styles Globaux */

body {
    margin: 0px;
}

h1 {
    font-family: $shrikhand;
}

p {
    font-family: $roboto;
    margin: 0px;
}

/* Styles */

header {

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 63px;

        img {
            width: 197px;
            height: 38px;
        }

    }

    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        background-color: $lightGray;
        height: 50px;
        box-shadow: 
        0 4px 4px rgba(0, 0, 0, 0.25), 
        0 -2px 2px rgba(0, 0, 0, 0.25);


        i {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
        }

    }

}