.footer {

    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $grey;
    padding: 22px 20px;

    @media (min-width: 1399.9px) {

        flex-direction: row-reverse;
        padding: 55px 60px 30px 60px;

    }

    &__logo {

        p {

            color: $white;
            font-size: 18px;
            font-family: $shrikhand;

        }

        @media (min-width: 1399.9px) {

            margin-bottom: 5px;
            margin-right: 15px;

        }

    }

    &__links {

        display: flex;
        flex-direction: column;
        gap: 5px;

        @media (min-width: 1399.9px) {

            flex-direction: row;
            margin-right: 65px;
            gap: 10px;

        }

        a {

            display: flex;
            align-items: center;
            gap: 10px;
            color: $white;
            text-decoration: none;

            &:nth-child(-n+2) {

                font-weight: 600;

            }

            &:nth-child(2) {

            @media (min-width: 1399.9px) {

                margin-right: 25px;

            }

            }

            i {

                width: 20px;

            }

        }

    }

}