.plate {
    background-color: $white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 70px;
    overflow: hidden;

    &__info {
        display: flex;
        padding: 15px;
        justify-content: space-between;
        align-items: end;
        width: 100%;
    }

    &__text {

        h3 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 2px;
            max-width: 230px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            font-size: 14px;
            font-weight: 300;
            max-width: 230px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__price {
        p {
            font-size: 15px;
            font-weight: 700;
        }
    }

    &__check {
        background-color: $green;
        border-radius: 0 15px 15px 0;
        height: 100%;
        width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: width 0.3s ease, opacity 0.3s ease;

        i {
            transition: transform 0.5s ease;
        }
    }

    &:hover &__check {
        width: 60px;
        opacity: 1;

        i {
            transform: rotate(360deg);
        }
    }
}