.main-header {

    &__logo {
        display: flex;
        justify-content: center;
        padding: 15px 0px;

        @media (min-width: 1399.9px) {
            margin: 25px 0;
        }

        img {
            height: 36px;
        }
    }

    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
        gap: 15px;
        background-color: $grey2;
        position: relative;
        z-index: 10;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
            0 -2px 3px rgba(0, 0, 0, 0.25);

        @media (min-width: 1399.9px) {
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3),
                0 0px 0px rgba(0, 0, 0, 0.25);
        }

        i {
            color: $grey;
        }
    }
}

.hero {
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $lightgrey;

    &__title {
        @extend %section_title;
        text-align: center;
        margin-bottom: 15px;

        @media (min-width: 1399.9px) {

            font-size: 40px !important;
            margin-bottom: 25px;
        }
    }

    &__subtitle {
        @extend %paragraph;
        text-align: center;
        margin-bottom: 30px;
    }

    &__button {
        @extend %button_cta;
    }

}

.process {
    padding: 50px 25px;

    @media (min-width: 1399.9px) {
        padding: 50px 175px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__steps {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @media (min-width: 1399.9px) {
            flex-direction: row;
        }
    }
}

.restaurants {
    padding: 50px 15px;
    background-color: $lightgrey;

    @media (min-width: 1399.9px) {
        padding: 50px 175px;
    }

    &__title {
        margin-bottom: 25px;
        @extend %section_title;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 18px;

        @media (min-width: 1399.9px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 100px;
            row-gap: 50px;
        }
    }
}