.secondaryheader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 20px 15px 25px;
    position: relative;

    &__logo {
        width: 200px;
        height: 36px;
        margin-left: 0 auto;
    }

    &__link {
        position: absolute;
        left: 25px;
    }

    @media(min-width: 1399.9px) {
        height: 100px;
        padding: 0px 25px;
    }
}

.banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;

    &__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    @media(min-width: 1399.9px) {
        height: 400px;
    }
}

.menu {
    padding: 40px 20px;
    background-color: $lightgrey;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media(min-width: 1399.9px) {
        margin: -40px 200px 0 200px;
        padding: 50px 200px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;

        @media(min-width:1399.9px) {
            justify-content: center;
            gap: 20px;
        }

        h1 {
            font-size: 28px;
            font-family: $shrikhand;
            font-weight: 500;
        }

        i {
            color: black;
            margin-right: 20px;
        }
    }

    .menu-section {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &__title {
            @extend %menu_title;
        }
    }

    button {
        @extend %button_cta;
        width: 186px;
        margin: 0 auto;
    }
}